

# google protocol buffer compiled files
*~
.#*
.#*#
/.clang-format~
/CMakeCache.txt
/CMakeFiles
/Makefile
/boost-1.60-asan
/boost-1.60-tsan
/build
/cmake_install.cmake
/doc
/log.txt
/mrun.sh
/run.sh
/src/msg/*.pb.*
\#*#
